.profile {
    background-color: white;
    border-radius: 7px;
    width: 100%;
    display: inline-block;
}

.profile-name {
    line-height: 18px;
    padding: 20px;
}

.profile-name .name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.profile-name .title {
    font-size: 14px;
    color: #777777;
}

.profile-image {
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile-image img {
    width: 100%;
    
}