.footer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-radius: 6px;
    padding: 20px 25px;
}